---
import Layout from '../layouts/Layout.astro';
import FlightSearch from '../components/react/FlightSearch';
import { ThemeToggle } from '../components/ThemeToggle';
import ryanairLogo from '/public/ryanair.jpg';
import { Image } from 'astro:assets';

const pageTitle = 'Gimme Flights';
const pageDescription =
	'Search and compare the best Ryanair flight deals. Find cheap flights to your favorite destinations with our easy-to-use flight search engine.';
---

<Layout
	title={pageTitle}
	description={pageDescription}>
	<script is:inline>
		const getThemePreference = () => {
			if (
				typeof localStorage !== 'undefined' &&
				localStorage.getItem('theme')
			) {
				return localStorage.getItem('theme');
			}
			return 'light';
		};
		const isDark = getThemePreference() === 'dark';
		document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

		if (typeof localStorage !== 'undefined') {
			if (!localStorage.getItem('theme')) {
				localStorage.setItem('theme', 'light');
			}

			const observer = new MutationObserver(() => {
				const isDark = document.documentElement.classList.contains('dark');
				localStorage.setItem('theme', isDark ? 'dark' : 'light');
			});
			observer.observe(document.documentElement, {
				attributes: true,
				attributeFilter: ['class'],
			});
		}
	</script>

	<main class='relative mx-auto min-h-[calc(100vh)] py-1 sm:py-8'>
		<div class='fixed right-3 top-3 z-50 sm:right-8 sm:top-8'>
			<ThemeToggle client:load />
		</div>

		<div class='text-center'>
			<div class='mt-4 flex items-start justify-center gap-4 sm:mt-12'>
				<div class='-ml-16 mt-4 space-y-1 text-4xl font-bold'>
					<h1 class=''>Gimme</h1>
					<h1 class='ml-16'>flights</h1>
				</div>
				<div class='relative -ml-4 mt-0 rotate-[30deg]'>
					<svg
						viewBox='0 0 56 56'
						width='56'
						height='56'
						class='absolute inset-0'>
						<defs>
							<mask id='logoMask'>
								<rect
									width='56'
									height='56'
									fill='black'
								></rect>
								<path
									d='M51.9122 35.6457L54.6904 32.8675C55.2636 32.2944 55.7184 31.6139 56.0286 30.865C56.3389 30.1161 56.4985 29.3134 56.4985 28.5027C56.4985 27.6921 56.3389 26.8894 56.0286 26.1405C55.7184 25.3916 55.2636 24.7111 54.6904 24.138L51.9122 21.3598C51.3385 20.787 50.8836 20.1066 50.5734 19.3576C50.2632 18.6086 50.104 17.8057 50.1047 16.995V13.072C50.1047 11.435 49.4544 9.86503 48.2969 8.7075C47.1394 7.54997 45.5694 6.89967 43.9324 6.89967H40.0063C39.1956 6.90043 38.3927 6.74116 37.6437 6.43099C36.8947 6.12081 36.2143 5.66584 35.6415 5.09216L32.8633 2.314C32.2902 1.74075 31.6097 1.28603 30.8608 0.975783C30.1119 0.66554 29.3092 0.505859 28.4985 0.505859C27.6879 0.505859 26.8852 0.66554 26.1363 0.975783C25.3874 1.28603 24.7069 1.74075 24.1337 2.314L21.3556 5.09216C20.7828 5.66584 20.1024 6.12081 19.3534 6.43099C18.6043 6.74116 17.8015 6.90043 16.9908 6.89967H13.0678C12.2569 6.89927 11.454 7.05862 10.7048 7.36862C9.95555 7.67862 9.27476 8.13321 8.70128 8.7064C8.12779 9.27959 7.67287 9.96016 7.36249 10.7092C7.0521 11.4583 6.89235 12.2612 6.89235 13.072V16.9981C6.89235 18.6376 6.24214 20.2056 5.08483 21.3629L2.30667 24.1411C1.73343 24.7142 1.2787 25.3947 0.968458 26.1436C0.658216 26.8925 0.498535 27.6952 0.498535 28.5059C0.498535 29.3165 0.658216 30.1192 0.968458 30.8681C1.2787 31.617 1.73343 32.2975 2.30667 32.8706L5.08483 35.6488C6.24214 36.8061 6.89235 38.3741 6.89235 40.0136V43.9397C6.89235 45.5767 7.54264 47.1467 8.70018 48.3042C9.85771 49.4618 11.4277 50.112 13.0647 50.112H16.9908C18.6303 50.112 20.1983 50.7623 21.3556 51.9196L24.1337 54.6977C24.7069 55.271 25.3874 55.7257 26.1363 56.0359C26.8852 56.3462 27.6879 56.5059 28.4985 56.5059C29.3092 56.5059 30.1119 56.3462 30.8608 56.0359C31.6097 55.7257 32.2902 55.271 32.8633 54.6977L35.6415 51.9196C36.8022 50.7667 38.3703 50.1173 40.0063 50.112H43.9324C45.5694 50.112 47.1394 49.4618 48.2969 48.3042C49.4544 47.1467 50.1047 45.5767 50.1047 43.9397V40.0136C50.1047 38.3741 50.7549 36.803 51.9122 35.6457Z'
									fill='white'
									stroke-linecap='round'
									stroke-linejoin='round'
								></path>
							</mask>
						</defs>
						<image
							href={ryanairLogo.src}
							width='56'
							height='56'
							mask='url(#logoMask)'
						/>
					</svg>
				</div>
			</div>
		</div>
		<FlightSearch client:load />

		<a
			href='https://oaksun.studio'
			target='_blank'
			rel='noopener noreferrer'
			class='fixed bottom-3 right-3 flex items-center gap-1 rounded-full bg-transparent px-2 py-1 text-sm text-gray-600 transition-colors duration-300 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white sm:bottom-4 sm:right-6'>
			made by
			<span class='font-semibold'>OAKSUN</span>
		</a>
	</main>
</Layout>
